{
  "semi": true,
  "singleQuote": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSameLine": true
}
